{% extends 'mail/base-mail.html.twig' %}

{% block title %}{{ "mail.account_created.title" | trans({}, 'messages', user.defaultLocale) }}{% endblock %}

{% block content %}
    {% set link = build_front_url('/auth/signin') %}
    <td>
        <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#fff">
            <tr>
                <td width="40"></td>
                <td>
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <h2 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 24px;line-height: 28px;color: #05144B; margin:0; padding:0">{{ "mail.account_created.sub_title" | trans({}, 'messages', user.defaultLocale) }}</h2></td>
                        </tr>
                        <tr>
                            <td height="32"></td>
                        </tr>
                        <tr>
                            <td>
                                {#                                <h3 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 20px;line-height: 24px;color: #05144B; margin:0; padding:0; margin-bottom:32px"></h3>#}
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B;  margin:0; padding:0; padding-bottom:16px;">
                                    {{ "mail.common.hi" | trans({}, 'messages', user.defaultLocale) }}</p>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">
                                    {{ "mail.account_created.message" | trans({}, 'messages', user.defaultLocale) }}
                                    <a href="{{ link }}"
                                       style="color: #00b9ff; text-decoration: underline;">{{ "mail.common.link" | trans({}, 'messages', user.defaultLocale) }}</a>
                                </p></td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td align="center"><a href="{{ link }}"
                                                  class="a-button"
                                                  style="display:block;width:100%; max-width:322px;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 16px;line-height: 16px;color: #fff; text-decoration:none; background: #00B9FF; border-radius:28px; padding:20px 0">
                                    {{ "mail.account_created.button_name" | trans({}, 'messages', user.defaultLocale) }}
                                </a></td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            {#                            <td>#}
                            {#                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">#}
                            {#                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim at ultricies#}
                            {#                                    proin#}
                            {#                                    potenti ullamcorper sagittis.</p></td>#}
                        </tr>
                        <tr>
                            <td height="32"></td>
                        </tr>
                        <tr>
                            <td height="1" bgcolor="#E1E3E9"></td>
                        </tr>
                        <tr>
                            <td height="24"></td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 14px;line-height: 18px;color: #737b9a; margin:0; padding:0">
                                    {{ "mail.common.dont_reply" | trans({}, 'messages', user.defaultLocale) }}</p></td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                    </table>
                </td>
                <td width="40"></td>
            </tr>
        </table>
    </td>
{% endblock %}
