{% extends 'base.html.twig' %}

{% block title %}{{ "mail.account_deleted.title" | trans({}, 'messages', locale) }}{% endblock %}

{% block body %}
    {% set firstName = firstName ? " " ~ firstName : "" %}
    <p>{{ "mail.account_deleted.message" | trans({'firstName': firstName}, 'messages', locale) }}</p>
{% endblock %}
