{% extends 'mail/base-mail.html.twig' %}

{% block title %}{{ "mail.after_registration_for_doctor.title" | trans({}, 'messages', locale) }}{% endblock %}

{% block content %}
    {% set dashboardLink = build_front_url('/cabinet/dashboard') %}
    {% set calendarLink = build_front_url('/cabinet/schedule') %}
    {% set appointmentsLink = build_front_url('/cabinet/booking-appointments') %}
    {% set accountSettingsLink = build_front_url('/cabinet/account-settings') %}
    {% set contactsLink = build_front_url('/contact') %}
    {% set yourCareTeamLink = build_front_url('/cabinet/team') %}

    {% set link_2 = build_front_url('/doctors/' ~ user.getId() ~ '/edit') %}
    {% set link_3 = build_front_url('/cabinet/schedule') %}
    {% set link_4 = build_front_url('/doctors') %}
    <td>
        <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#fff">
            <tr>
                <td width="40"></td>
                <td>
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
{#                                                                <h2 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 24px;line-height: 28px;color: #05144B; margin:0; padding:0">{{ "mail.email_confirmation.sub_title" | trans({}, 'messages', locale) }}</h2>#}
                            </td>
                        </tr>
                        <tr>
                            <td height="32"></td>
                        </tr>
                        <tr>
                            <td>
                                {#                                <h3 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 20px;line-height: 24px;color: #05144B; margin:0; padding:0; margin-bottom:32px"></h3> #}
{#                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B;  margin:0; padding:0; padding-bottom:16px;">#}
{#                                    {{ "mail.after_registration_for_doctor.sub_title_1" | trans({'username': username}, 'messages', locale) }}</p>#}
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">
                                    {{ "mail.after_registration_for_doctor.text_1" | trans({}, 'messages', locale) }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <h2 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 18px;line-height: 28px;color: #05144B; margin:0; padding:0">{{ "mail.after_registration_for_doctor.sub_title_2" | trans({}, 'messages', locale) }}</h2>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">
                                    {{ "mail.after_registration_for_doctor.text_2" | trans({'dashboardLink': dashboardLink}, 'messages', locale) | raw }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td align="center"><a href="{{ link_2 }}"
                                                  class="a-button"
                                                  style="display:block;width:100%; max-width:322px;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 16px;line-height: 16px;color: #fff; text-decoration:none; background: #00B9FF; border-radius:28px; padding:20px 0">
                                    {{ "mail.after_registration_for_doctor.button_2" | trans({}, 'messages', locale) }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <h2 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 18px;line-height: 28px;color: #05144B; margin:0; padding:0">{{ "mail.after_registration_for_doctor.sub_title_3" | trans({}, 'messages', locale) }}</h2>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">
                                    {{ "mail.after_registration_for_doctor.text_3" | trans({'calendarLink': calendarLink, 'appointmentsLink': appointmentsLink}, 'messages', locale) | raw  }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td align="center"><a href="{{ link_3 }}"
                                                  class="a-button"
                                                  style="display:block;width:100%; max-width:322px;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 16px;line-height: 16px;color: #fff; text-decoration:none; background: #00B9FF; border-radius:28px; padding:20px 0">
                                    {{ "mail.after_registration_for_doctor.button_3" | trans({}, 'messages', locale) }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <h2 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 18px;line-height: 28px;color: #05144B; margin:0; padding:0">{{ "mail.after_registration_for_doctor.sub_title_4" | trans({}, 'messages', locale) }}</h2>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">
                                    {{ "mail.after_registration_for_doctor.text_4" | trans({'profileLink': link_2}, 'messages', locale) | raw  }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td align="center"><a href="{{ link_4 }}"
                                                  class="a-button"
                                                  style="display:block;width:100%; max-width:322px;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 16px;line-height: 16px;color: #fff; text-decoration:none; background: #00B9FF; border-radius:28px; padding:20px 0">
                                    {{ "mail.after_registration_for_doctor.button_4" | trans({}, 'messages', locale) }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <h2 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 18px;line-height: 28px;color: #05144B; margin:0; padding:0">{{ "mail.after_registration_for_doctor.sub_title_5" | trans({}, 'messages', locale) }}</h2>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">
                                    {{ "mail.after_registration_for_doctor.text_5" | trans({'dashboardLink': dashboardLink}, 'messages', locale)  | raw  }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <h2 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 18px;line-height: 28px;color: #05144B; margin:0; padding:0">{{ "mail.after_registration_for_doctor.sub_title_6" | trans({}, 'messages', locale) }}</h2>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">
                                    {{ "mail.after_registration_for_doctor.text_6" | trans({'accountSettingsLink': accountSettingsLink}, 'messages', locale) | raw  }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">
                                    {{ "mail.after_registration_for_doctor.finish_text" | trans({'contactsLink': contactsLink}, 'messages', locale) | raw  }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">
                                    {{ "mail.common.stay_healthy" | trans({}, 'messages', locale) }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td height="32"></td>
                        </tr>
                        <tr>
                            <td height="1" bgcolor="#E1E3E9"></td>
                        </tr>
                        <tr>
                            <td height="24"></td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 14px;line-height: 18px;color: #737b9a; margin:0; padding:0">
                                    {{ "mail.common.dont_reply" | trans({}, 'messages', locale) }}</p></td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                    </table>
                </td>
                <td width="40"></td>
            </tr>
        </table>
    </td>
{% endblock %}
