{% extends 'base.html.twig' %}

{% block title %}Contact form{% endblock %}

{% block body %}
    <ul>
        <li>First name: {{ contactForm.firstName }}</li>
        <li>Phone number: {{ contactForm.phoneNumber }}</li>
        <li>Email: {{ contactForm.email }}</li>
        <li>Message: {{ contactForm.message }}</li>
    </ul>
{% endblock %}
