{% extends 'base.html.twig' %}

{% block title %}{{ "mail.change_account_password.title" | trans({}, 'messages', locale) }}{% endblock %}

{% block body %}
    {% set firstName = firstName ? " " ~ firstName : "" %}
    <p>{{ "mail.change_account_password.success_message" | trans({"firstName": firstName, "newPassword": newPassword}, 'messages', locale) }}</p>
{% endblock %}
