{% extends 'mail/base-mail.html.twig' %}

{% block title %}{{ "mail.forgot_password.reset_complete.title" | trans({}, 'messages', locale) }}{% endblock %}

{% block content %}
    {% set firstName = firstName ? " " ~ firstName : "" %}
    {% set link = build_front_url('/auth/signin', locale) %}
    <td>
        <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#fff">
            <tr>
                <td width="40"></td>
                <td>
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
{#                                <h2 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 24px;line-height: 28px;color: #05144B; margin:0; padding:0">{{ "mail.forgot_password.reset_complete.title" | trans({}, 'messages', locale) }}</h2></td>#}
                        </tr>
                        <tr>
                            <td height="32"></td>
                        </tr>
                        <tr>
                            <td>
                                {#                                <h3 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 20px;line-height: 24px;color: #05144B; margin:0; padding:0; margin-bottom:32px"></h3>#}
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">
                                    {{ "mail.forgot_password.reset_complete.message" | trans({'firstName': firstName}, 'messages', locale) }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td align="center"><a href="{{ link }}"
                                                  class="a-button"
                                                  style="display:block;width:100%; max-width:322px;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 16px;line-height: 16px;color: #fff; text-decoration:none; background: #00B9FF; border-radius:28px; padding:20px 0">
                                    {{ "mail.forgot_password.reset_complete.button_name" | trans({}, 'messages', locale) }}
                                </a></td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">
                                    {{ "mail.forgot_password.reset_complete.did_not_changed_password_message" | trans({'supportLink': build_front_url('/contact')}, 'messages', locale) | raw }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">
                                    {{ "mail.common.stay_healthy" | trans({}, 'messages', locale) }}
                                </p></td>
                        </tr>
                        <tr>
                            <td height="32"></td>
                        </tr>
                        <tr>
                            <td height="1" bgcolor="#E1E3E9"></td>
                        </tr>
                        <tr>
                            <td height="24"></td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 14px;line-height: 18px;color: #737b9a; margin:0; padding:0">
                                    {{ "mail.common.dont_reply" | trans({}, 'messages', locale) }}</p></td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                    </table>
                </td>
                <td width="40"></td>
            </tr>
        </table>
    </td>
{% endblock %}
