{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_top_nav_menu_user_block %}
    <li class="dropdown user-menu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fas fa-user fa-fw" aria-hidden="true"></i> <i class="fas fa-caret-down" aria-hidden="true"></i>
        </a>

        <ul class="dropdown-menu dropdown-user">
            {% if app.user %}
                {% set _bg_class = 'bg-light-blue' %}
                {% set _logout_uri = url('admin_logout') %}

                <li class="user-footer">
                    <div class="pull-right">
                        <a href="{{ _logout_uri }}" class="btn btn-default btn-flat">
                            <i class="fas fa-sign-out-alt fa-fw"></i>
                            Logout
                        </a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </li>
{% endblock %}