<td>

    <img src="{{ object.getAvatar.getContentUrl | default('undefined') }}"
         style="border-radius: 3px; width: {{ field_description.options.size }}px; height: {{ field_description.options.size }}px"
         alt="Picture"/>
</td>