{% extends 'mail/base-mail.html.twig' %}

{% block title %}{{ "mail.appointment_by_call.created.title_for_doctor" | trans({}, 'messages', locale) }}{% endblock %}

{% block content %}
    {% set link = build_front_url('/cabinet/booking-appointments') %}
    <td>
        <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#fff">
            <tr>
                <td width="40"></td>
                <td>
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <h2 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 24px;line-height: 28px;color: #05144B; margin:0; padding:0">{{ "mail.appointment_by_call.created.title_for_doctor" | trans({}, 'messages', locale) }}</h2></td>
                        </tr>
                        <tr>
                            <td height="32"></td>
                        </tr>
                        <tr>
                            <td>
                                {#                                <h3 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 20px;line-height: 24px;color: #05144B; margin:0; padding:0; margin-bottom:32px"></h3>#}
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B;  margin:0; padding:0; padding-bottom:16px;">
                                    {{ "mail.common.hi" | trans({}, 'messages', locale) }}</p>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">
                                    {{ "mail.appointment_by_call.created.message_for_doctor" | trans({'fullNameOrEmail': fullNameOrEmailDoctor, 'link': link, 'patientName': fullNameOrEmail}, 'messages', locale) }}
                                    <a href="{{ link }}"
                                       style="color: #00b9ff; text-decoration: underline;">{{ "mail.common.link" | trans({}, 'messages', locale) }}</a>
                                </p>
                                {#                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">#}
                                {#                                    {{ "mail.appointment_by_call.created.note_for_patient" | trans({}, 'messages', locale) }}#}
                                {#                                </p>#}
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        {#                        <tr>#}
                        {#                            <td align="center"><a href="{{ link }}"#}
                        {#                                                  style="display:block;width:100%; max-width:322px;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 16px;line-height: 16px;color: #fff; text-decoration:none; background: #00B9FF; border-radius:28px; padding:20px 0">#}
                        {#                                    {{ "mail.forgot_password.reset_complete.button_name" | trans({}, 'messages', locale) }}#}
                        {#                                </a></td>#}
                        {#                        </tr>#}
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">
                                    {{ "mail.common.stay_healthy" | trans({}, 'messages', locale) }}
                                </p></td>
                        </tr>
                        <tr>
                            <td height="32"></td>
                        </tr>
                        <tr>
                            <td height="1" bgcolor="#E1E3E9"></td>
                        </tr>
                        <tr>
                            <td height="24"></td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 14px;line-height: 18px;color: #737b9a; margin:0; padding:0">
                                    {{ "mail.common.dont_reply" | trans({}, 'messages', locale) }}</p></td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                    </table>
                </td>
                <td width="40"></td>
            </tr>
        </table>
    </td>
{% endblock %}