{% extends 'base.html.twig' %}

{% block title %}Delete social account confirmation{% endblock %}

{% block body %}
    <p>Hello <b>{{ username }}</b>! This is your confirmation code for deleting your account - {{ confirmationCode }}</p>
{% endblock %}
