{% extends 'base.html.twig' %}

{% block title %}Subscription created{% endblock %}

{% block body %}
    <p>Hello <b>{{ subscription.name }}</b>! Your subscription has been successfully created</p>
{% endblock %}
