{% extends 'mail/base-mail.html.twig' %}

{% block title %}{{ "mail.referrals_reminders.reminder1.title" | trans({}, 'messages', locale) }}{% endblock %}

{% block content %}
    {% set referralLink = build_front_url('/cabinet/referral') %}
    {% set contactsLink = build_front_url('/contact') %}

    {% set unsubscribeLink = build_front_url('/unsubscribe') %}
    <td>
        <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#fff">
            <tr>
                <td width="40"></td>
                <td>
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <h2 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 24px;line-height: 28px;color: #05144B; margin:0; padding:0">{{ "mail.referrals_reminders.reminder1.title" | trans({}, 'messages', locale) }}</h2>
                            </td>
                        </tr>
                        <tr>
                            <td height="32"></td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B;  margin:0; padding:0; padding-bottom:16px;">
                                    {{ "mail.referrals_reminders.reminder1.sub_title" | trans({'username': username}, 'messages', locale) }}</p>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">
                                    {{ "mail.referrals_reminders.reminder1.text_1" | trans({}, 'messages', locale) | raw }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ link }}"
                                   style="color: #00b9ff; text-decoration: underline;">{{ "mail.referrals_reminders.reminder1.link_1" | trans({'referralLink': referralLink}, 'messages', locale) }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ link }}"
                                   style="color: #00b9ff; text-decoration: underline;">{{ "mail.referrals_reminders.reminder1.link_2" | trans({'referralLink': referralLink}, 'messages', locale) }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 16px;line-height: 24px;color: #05144B; margin:0; padding:0">
                                    {{ "mail.referrals_reminders.reminder1.text_2" | trans({}, 'messages', locale) | raw }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ link }}"
                                   style="color: #00b9ff; text-decoration: underline;">{{ "mail.referrals_reminders.reminder1.unsubscribe" | trans({'unsubscribeLink': unsubscribeLink}, 'messages', locale) }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td height="32"></td>
                        </tr>
                        <tr>
                            <td height="1" bgcolor="#E1E3E9"></td>
                        </tr>
                        <tr>
                            <td height="24"></td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 14px;line-height: 18px;color: #737b9a; margin:0; padding:0">
                                    {{ "mail.common.dont_reply" | trans({}, 'messages', locale) }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td height="40"></td>
                        </tr>
                    </table>
                </td>
                <td width="40"></td>
            </tr>
        </table>
    </td>
{% endblock %}