<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
        a {
            color: #01b9ff !important;
        }
        a.a-button {
            color: #fff !important;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">
<table cellpadding="0" cellspacing="0" width="100%" bgcolor="#ebfaff">
    <tr>
        <td align="center">
            <table cellpadding="0" cellspacing="0" width="640" align="center" style="width:100%; max-width:640px">
                <tr>
                    <td width="20"></td>
                    <td>
                        <table cellpadding="0" cellspacing="0" width="600" align="center"
                               style="width:100%; max-width:600px">
                            {% include 'mail/mail-header.html.twig' %}
                            <tr class="body">
                                {% block content %}
                                {% endblock %}
                            </tr>
                            {% include 'mail/mail-footer.html.twig' %}
                            <td width="20"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</table>
</body>
</html>
