<tr class="footer">
    <td>
        <table cellpadding="0" cellspacing="0" width="100%" align="center">
            <tr>
                <td height="22"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" align="center">
                        <tr>
                            <td><a href="#"><img src="{{ DOMAIN_NAME ~ asset('assets/mail/icon_f.png') }}" alt="" width="24"
                                                 height="24"/></a></td>
                            <td width="18"></td>
                            <td><a href="#"><img src="{{ DOMAIN_NAME ~ asset('assets/mail/icon_l.png') }}" alt="" width="24"
                                                 height="24"/></a></td>
                            <td width="18"></td>
                            <td><a href="#"><img src="{{ DOMAIN_NAME ~ asset('assets/mail/icon_i.png') }}" alt="" width="24"
                                                 height="24"/></a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td align="center"><a href="#"
                                      style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 13px;line-height: 13px;color: #737b9a;text-decoration:none;">{{ "mail.common.unsubscribe" | trans }}</a>
                    <span style="font-family: Arial, Helvetica, sans-serif;font-weight: 300;font-size: 13px;line-height: 13px;color: #737b9a;padding:0 12px">|</span>
                    <a href="#"
                       style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 13px;line-height: 13px;color: #737b9a;text-decoration:none;">{{ "mail.common.privacy_policy" | trans }}</a></td>
            </tr>
            <tr>
                <td height="12"></td>
            </tr>
            <tr>
                <td align="center"
                    style="font-family: Arial, Helvetica, sans-serif;font-weight: normal;font-size: 13px;line-height: 13px;color: #737b9a;text-decoration:none;">
                    {{ "mail.common.copyright" | trans }}
                </td>
            </tr>
            <tr>
                <td height="40"></td>
            </tr>
        </table>
    </td>
</tr>