<tr class="header">
    <td align="center"><table  cellpadding="0" cellspacing="0" width="100%" >
            <tr>
                <td height="45"></td>
            </tr>
            <tr>
                <td><table  cellpadding="0" cellspacing="0" width="100%" >
                        <tr>
                            <td align="left"><a href="http://deinarzt.org/" target="_blank"><img src="{{ DOMAIN_NAME ~ asset('assets/mail/logo.png') }}" width="120" height="23" /></a> </td>
                        </tr>
                    </table></td>
            </tr>
            <tr>
                <td height="27" ></td>
            </tr>
        </table></td>
</tr>
